<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.yx.pojo.Course" >
    <constructor >
      <idArg column="courseId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="courseName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="faculty" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="major" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from course
    where courseId = #{courseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course
    where courseId = #{courseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yx.pojo.Course" >
    insert into course (courseId, courseName, faculty,    major)
    values (#{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{faculty,jdbcType=VARCHAR},
            #{major,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yx.pojo.Course" >
    update course
    set courseName = #{courseName,jdbcType=VARCHAR},
        faculty = #{faculty,jdbcType=VARCHAR},
        major = #{major,jdbcType=VARCHAR}
    where courseId = #{courseId,jdbcType=INTEGER}
  </update>
  <select id="queryCourseAll" parameterType="com.yx.pojo.Course" resultType="com.yx.pojo.Course">
    SELECT * from course
    <where>
      <if test="courseName!=null">
        and courseName like '%${courseName}%'
      </if>
      <if test="major!=null">
        and major like '%${major}%'
      </if>
    </where>
  </select>
</mapper>