<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.dao.OfficerInfoMapper">
    <resultMap id="BaseResultMap" type="com.yx.pojo.OfficerInfo">
        <id column="offId" jdbcType="INTEGER" property="offId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="offName" jdbcType="VARCHAR" property="offName" />
        <result column="offSex" jdbcType="VARCHAR" property="offSex"/>
        <result column="offPost" jdbcType="VARCHAR" property="offPost"/>
        <result column="offPhone" jdbcType="VARCHAR" property="offPhone"/>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from officer
        where offId = #{offId,jdbcType=INTEGER}
    </select>
    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from officer
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from officer
        where offId = #{offId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.yx.pojo.OfficerInfo">
        insert into officer (offId, username, password,offName,offSex,offPost,offPhone)
        values (#{offId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
                #{offName,jdbcType=VARCHAR},#{offSex,jdbcType=VARCHAR},#{offPost,jdbcType=VARCHAR},
                #{offPhone,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.yx.pojo.OfficerInfo">
        update officer
        set
         username = #{username,jdbcType=VARCHAR},
         password = #{password,jdbcType=VARCHAR},
         offName = #{offName,jdbcType=VARCHAR},
         offSex = #{offSex,jdbcType=VARCHAR},
         offPost = #{offPost,jdbcType=VARCHAR},
         offPhone = #{offPhone,jdbcType=VARCHAR}
        where offId = #{offId,jdbcType=INTEGER}
    </update>
    <select id="queryOfficerInfoAll" parameterType="com.yx.pojo.OfficerInfo" resultType="com.yx.pojo.OfficerInfo">
        SELECT *
        from officer
        <where>
            <if test="offName!=null">
                and offName like '%${offName}%'
            </if>
            <if test="offId!=null">
                and offId like '%${offId}%'
            </if>
        </where>
    </select>
    <select id="queryUserByNameAndPassword" resultType="com.yx.pojo.OfficerInfo">
        select * from officer where username=#{username} and password=#{password}
    </select>

</mapper>