<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.dao.ApplyTeaMapper" >
  <resultMap id="BaseResultMap" type="com.yx.pojo.ApplyTea" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="bookId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="bookName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="courseId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="courseName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="teaId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from apply1
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from apply1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yx.pojo.ApplyTea" >
    insert into apply1 (id, bookId, bookName,
      courseId, courseName, number, 
      date, type,teaId)
    values (#{id,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR},
      #{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{date,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER},#{teaId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yx.pojo.ApplyTea" >
    update apply1
    set bookId = #{bookId,jdbcType=INTEGER},
      bookName = #{bookName,jdbcType=VARCHAR},
      courseId = #{courseId,jdbcType=INTEGER},
      courseName = #{courseName,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      teaId = #{teaId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryApplyTeaAll" parameterType="com.yx.pojo.ApplyTea" resultType="com.yx.pojo.ApplyTea">
    SELECT * from apply1
    where  teaId = #{teaId,jdbcType=INTEGER}
      <if test="bookId!=null">
        and bookId like '%${bookId}%'
      </if>
      <if test="type!=null">
        and type like '%${type}%'
      </if>
  </select>
</mapper>