<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.dao.AuditStuMapper" >
  <resultMap id="BaseResultMap" type="com.yx.pojo.AuditStu" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="bookId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="bookName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="courseId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="courseName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="grade" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="stuId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="stuName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="FLOAT" javaType="java.lang.Float" />
      <arg column="sum" jdbcType="FLOAT" javaType="java.lang.Float" />
      <arg column="date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from audit2
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from audit2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yx.pojo.AuditStu" >
    insert into audit2 (id,bookId, bookName, courseId,  courseName,
                        grade, stuId, stuName,
                        number, price, sum,
                        date, type
      )
    values (#{id,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR},
            #{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR},
            #{grade,jdbcType=VARCHAR}, #{stuId,jdbcType=INTEGER},  #{stuName,jdbcType=VARCHAR},
            #{number,jdbcType=INTEGER},#{price,jdbcType=FLOAT}, #{sum,jdbcType=FLOAT},
            #{date,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yx.pojo.AuditStu" >
    update audit2
    set bookId = #{bookId,jdbcType=INTEGER},
        bookName = #{bookName,jdbcType=VARCHAR},
        courseId = #{courseId,jdbcType=INTEGER},
        courseName = #{courseName,jdbcType=VARCHAR},
        grade = #{grade,jdbcType=VARCHAR},
        stuId = #{stuId,jdbcType=INTEGER},
        stuName = #{stuName,jdbcType=VARCHAR},
        number = #{number,jdbcType=INTEGER},
        price = #{price,jdbcType=FLOAT},
        sum = #{sum,jdbcType=FLOAT},
        date = #{date,jdbcType=TIMESTAMP},
        type = #{type,jdbcType=INTEGER}
    where id= #{id,jdbcType=INTEGER}
  </update>

    <select id="queryAuditStuAll" parameterType="com.yx.pojo.AuditStu" resultType="com.yx.pojo.AuditStu">
        SELECT * from audit2
        <where>
            <if test="bookId!=null">
                and bookId like '%${bookId}%'
            </if>
            <if test="type!=null">
                and type like '%${type}%'
            </if>
        </where>
    </select>
</mapper>